title: Xornandor
description: "Blog sederhana, isinya tentang cyber security, linux, saintek, dan lain-lain."
author:
  name: "xornandor"
  email: "noemail"
  url: "https://xornandor.github.io"

baseurl: /

source: .
destination: ./_site
permalink: /:title
paginate: 3
paginate_path: /page/:num/

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

future: true
plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-sitemap

# Custom variables
owner : "xornandor"
year : "2024"
